/* a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

p{
  font-size: 1.2rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #839e6b;
  color: #fff;
  font-family: "Onest", sans-serif;
  gap: 2rem;
}

footer .logo {
  display: flex;
  align-items: center;
}

.footer-social-media img,
svg {
  width: 50px;
  margin-right: 10px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.footer-social-media {
  display: flex;
  gap: 20px;
}

.footer-links {
  display: flex;
  gap: 20px;
} */
