h1,
p {
  font-family: "Onest", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

h1 {
  color: #83A11D;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

h2 {
  color: #83a11d;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #83a11d;
  border-radius: 20px;
  border: 2px solid white;
}
